.btn-user {
    background-color: #13a1e496;
    border: none; 
    color: white; 
    padding: 3px 28px; 
    font-size: 26px; 
    cursor: pointer; 
    border-radius: 5px
  }
  .btn-car {
    background-color: #319a0596;
    border: none; 
    color: white; 
    padding: 3px 28px; 
    font-size: 26px; 
    cursor: pointer; 
    border-radius: 5px
  }
  span{
    overflow: hidden;
       position: absolute;
       top: auto;
       right: -8px;
       width: 18px;
       height: 18px;
       font-size: 12px;
       line-height: 18px;
       text-align: center;
       color: #fff;
       background: #e20613;
       border-radius: 50%;   
  }
  .btn-car:hover,.btn-user:hover {
    background-color: rgb(247, 247, 247);
    color: black;
  }
  