<div class="container" style="margin-top: 50px;">
    <div class="row justify-content-center">
        <div *ngFor="let producto of listaProductos" class="col-md-auto">
            <nz-card [nzCover]="coverTemplate" [nzActions]="[actionEllipsis]">
                <nz-card-meta nzTitle={{producto.nombre}} nzDescription=${{producto.valor}}>

                </nz-card-meta>
                <span class="tooltiptext">{{producto.descripcion}}</span>
            </nz-card>
            <ng-template #coverTemplate>
                <nz-carousel [nzEffect]="effect">
                    <div nz-carousel-content *ngFor="let index of producto.imagen">
                        <img style="width: 100%;" draggable="false" alt="example" src={{index}} />
                    </div>
                </nz-carousel>
            </ng-template>
            <ng-template #actionEllipsis>
                <button class="btn-car" (click)="agregarProducto(producto.id,producto.imagen[0],producto.nombre,producto.valor,producto.sku)">Agregar al carrito</button>
            </ng-template>
        </div>
    </div>
</div>
